.adsense
  :javascript
    google_ad_client = "ca-pub-5009282661607204";
    /* main-banner */
    google_ad_slot = "9515300179";
    google_ad_width = 728;
    google_ad_height = 90;
  %script{ :src => 'http://pagead2.googlesyndication.com/pagead/show_ads.js' }
