.footer
  %iFrame{:src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost.de&width=300&height=35&colorscheme=dark&layout=standard&action=like&show_faces=false&send=false&appId=325312247554377", :frameBorder => "0" }
